@{
    ViewBag.Title = "Index";
}
<div class="grid_12" style="text-align: center">
    <br />
    <h4>Nuestros servicios</h4>
    <br />
</div>
<br />
<div class="grid_4">
    <div class="cwrap">
        <div class="circle c1">
            <div class="info">
                <div class="title" style="background-color: black; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;">Equipos contra incendio</div>
                <span style="font-size: 14px; background-color: black; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;">Venta, recarga y mantenimiento</span>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="cwrap">
        <div class="circle c2">
            <div class="info">
                <div class="title" style="background-color: black; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;">Botiquines</div>
                <span style="font-size: 14px; background-color: black; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;">Gabinetes, maletines., etc.</span>
                @*<br>
                    <a href="#">Read More</a>*@
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="cwrap">
        <div class="circle c3">
            <div class="info">
                <div class="title" style="background-color: black; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;">Señalización </div>
                <span style="font-size: 14px; background-color: black; -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;">Normas técnicas colombianas NTCP 1461 y NTC 1937.</span>
            </div>
        </div>
    </div>
</div>
<div class="clear">
</div>
<div class="grid_12" style="text-align: center">
    <br />
    <h4>¿Que hacemos?</h4>
    <br />
</div>
<div id="ib-container">
    <article class="grid_4">
        <div class="box maxheight">
            <h4>Equipos contra incendio</h4>
            <div class="text1">
                Equipos contra incendio Manuales y rodantes.
            </div>
            <p style="text-align: justify;">
                Los extintores o equipos contra incendio, se pueden definir como recipientes metálicos (cilindros de acero),que contienen agente extintor de fuegos a presión, el cual se expulsa por medio de una vávula con o sin manguera.<br /><br />
                <u><strong>Equipos contra incendio manuales</strong></u><br />Los denominados extintores portátiles, son aquellos que permiten un accionamiento manual accionando el agente extintor directamente contra un fuego. Por ser de de fácil manejo, cualquier persona con conocimiento mínimo de manejo puede utilizarlo, por lo cual también son conocidos como “Extintores de Reacción Inmediata”.<br /><br />
                <u><strong>Equipos contra incendio rodantes</strong></u><br />La caracteristica fisica por la cual se diferencia de los equipos contra incendio manuales son las ruedas sobre las que reposa el cilindro que contiene el agente extintor. Estos extintores permiten contener una cantidad mayor de agente extintor que los extintores manuales lo que contribuye a aumentar el
                rango en el alcance del agente, ampliando al cobertura de area de riesgo. Las cantidades en que podemos encontrar este tipo de extintores es 40 lbs, 50 lbs, 80 lbs, 150 lbs.<br />
                Adicional a la clasificación anterior; los equipos contra incendio también son clasificados dependiendo del agente extintor que contengan. Los siguientes son agentes extintores:

            </p>
            <ul>
                <li>-AGUA</li>
                <li>-ANHIDRICO CARBONICO</li>
                <li>-POLVO QUIMICO SECO</li>
                <li>-HCFC-123 (SOLKAFLAM 123)</li>
            </ul>
        </div>
    </article>
    <article class="grid_4">
        <div class="box maxheight">
            <h4>
                Botiquines</h4>
                <div class="text1">Primeros auxilios</div>
                <p style="text-align: justify;">
                    Los botiquines de primeros auxilios constituyen un recurso esencial en la prestación y atención inicial a las personas que sufran de alguna lesión  o evento médico. Contiene medicamentos y utensilios indispensables para el tratamiento de primeros auxilios o dolencias comunes<br />
                    El contenido de un botiquín puede variar de acuerdo a las necesidades del lugar y cantidad de personas donde se encuentre ubicado. El contenido del botiquín debe mantenerse en una caja de plástico resistente y opaca o en una caja de metal, cerca de la concentración de persona o donde existan factores de riesgo que comprometan la salud humana.  <br />
                    Los elementos esenciales que debe contener un botiquín son:<br />
                    <strong>Antisépticos y soluciones</strong><br />
                    Son sustancias cuyo objetivo es la prevención de la infección, evitando el crecimiento de gérmenes que comúnmente están presentes en toda lesión causada accidentalmente. Las soluciones son utilizadas para lavado o tratamiento inicial de lesiones leves.<br />
                    <strong>Material de curación</strong><br />
                    Son utilizados para controlar hemorragias, limpiar y cubrir heridas o quemaduras y prevenir la contaminación e infección.<br />
                    <strong>Medicamentos</strong><br />
                    Los medicamentos que se deben encontrar en un botiquin, son los analgesicos, con el fin de aliviar el dolor causados por traumatismo y para evitar que la persona entre en estado de shock por el dolor causado por alguna lesion o evento medico, sin embargo no debe usarse indiscriminadamente porque por su acción puede ocultar la gravedad de su lesión.<br />
                    <strong>Instrumental y elementos adicionales</strong><br />
                    Son utilizados para manipulación de las sustancias y materiales o para proteger al auxiliador.
                </p>
        </div>
    </article>
    <article class="grid_4">
        <div class="box maxheight">
            <h4>Señalización</h4>

            <div class="text1">
                Seguridad industrial
            </div>
            <p style="text-align: justify;">
                Las señales de seguridad son indispensables para prevenir accidentes o emergencias provocadas por el hombre, su objetivo es atraer la atención del mensaje que se quiere transmitir, por ello la interpretacion debe ser clara y unica, asi como debe informar sobre la conducta que se debe cumplir teniendo en cuenta que lo que se indiqie sea posible realizarlo sin poner en riesgo a la persona quien siga la indicación.<br />
                Las señales de seguridad están diseñadas con base en los colores de seguridad, contraste, formas geometricas y significados determinados en las normas tecnicas colombianas NTCP 1461 y NTC 1937.
            </p>
        </div>
    </article>
</div>
<div class="clear"></div>
<div class="grid_12">
    <h3>Contáctanos</h3>
    <blockquote>
        <img src="@Url.Content("~/images/contacto.png")" alt="">
        <strong>Gilberto Morales</strong><br />
        Cra 58 No 75 a - 17
        <br />        
        Bogotá, Colombia
        <br />
        +571 2405686 | +57 3103385815
        <br />        
        <strong><a href="mailto:abc.gilmor.ext@gmail.com">abc.gilmor.ext@gmail.com</a></strong>
        @*<ul>
                <li><a href="mailto:skyhomesconstruye@gmail.com">skyhomesconstruye@gmail.com</a></li>
                <li><a href="mailto:cardonamontoya@hotmail.com">cardonamontoya@hotmail.com</a></li>
                <li><a href="mailto:cardonamontoya@gmail.com">cardonamontoya@gmail.com</a></li>
            </ul>*@



        <p></p>
        @*<div class="bq_bot"><a href="#" class="btn">read more</a>MARK JONSON, chief designer </div>*@
    </blockquote>
</div>
